@import "../../styles/variable.scss";

.main-footer {
  width: 100%;
  padding: 10% 50px 20px 50px;
  color: #45B9B2;
  display: flex;
  justify-content: space-between;

  &-made {
    width: 100%;
    text-align: right;
    color: #444444;
    font-size: 18px;
  }
  &-social {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 150px;
  }

  &-service {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    color: #444444;
    & > a {
      color: #45B9B2;
      text-decoration: none;
      padding: 0px 10px;
      font-size: 18px;
    }
  }
}

@media (max-width: 1024px) {
  .main-footer {
    gap: 32px;
    &-made {
      width: 100%;
      text-align: center;
      color: #444444;
      font-size: 18px;
    }
    &-service {
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #444444;
      & > a {
        color: #45B9B2;
        text-decoration: none;
        padding: 0px 10px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-footer {
    flex-direction: column !important;
    &-social {
      width: 100%;
      max-width: 100%;
      justify-content: space-evenly;
    }
    &-made {
      width: 100%;
      text-align: center;
      color: #444444;
      font-size: 18px;
    }
    &-service {
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #444444;
      & > a {
        color: #45B9B2;
        text-decoration: none;
        padding: 0px 10px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 425px) {
  .main-footer {
    flex-direction: column !important;
    &-social {
      width: 100%;
    }
  }
}
